@import model.Device
@import play.api.libs.json._
@(devices: List[Device])

@main("Ada weather") {
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <div id="map"></div>

  <script>
    function initMap() {

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 3,
        center: {lat: 51.461999, lng: 0.125753}
      });

      // Create an array of alphabetical characters used to label the markers.
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

      // Add some markers to the map.
      // Note: The code uses the JavaScript Array.prototype.map() method to
      // create an array of markers based on a given "locations" array.
      // The map() method here has nothing to do with the Google Maps API.
      var markers = locations.map(function(location, i) {
        var marker = new google.maps.Marker({
          position: location,
          label: labels[i % labels.length]
        });

        var infowindow = new google.maps.InfoWindow({
          content: content[i]
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

        return marker
      });

      // Add a marker clusterer to manage the markers.
      var markerCluster = new MarkerClusterer(map, markers,
        {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
    }

    var locations = @Html(
      JsArray(
        devices.map(device =>
          Json.obj(("lat", JsNumber(device.position.latitude)), ("lng", JsNumber(device.position.longitude)))
        )
      ).toString
    );

    var content = @Html(
      JsArray(
        devices.map { device =>
          val text = s"<h1>${device.name}</h1>" +
          s"<span>Position: ${device.position.latitude}, ${device.position.longitude}</span>" +
          "<p>Sensors:"+
          device.sensors.map(_.name).mkString("<ul><li>", "</li><li>", "</li></ul>") +
          "</p>"
          JsString(text)
        }
      ).toString
    );
  </script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2CZMDgcx8eD2N65DM09uUS6JSMPrHI-k&callback=initMap">
  </script>
}